div,
img,
input,
label,
span {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: sans-serif, Arial;
  text-transform: uppercase;
}
body {
  background-color: #161722;
  background-size: 100%;
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
img {
  border-radius: 8px 8px 0 0;
}

.main {
  background-image: url(assets/FRAME.svg);
  background-repeat: no-repeat;
  background-size: inherit;
  max-width: 350px;
  height: 500px;
  display: block;
  margin: 20px auto 1px auto;
}

.logo {
  padding-top: 10px;
  max-width: 300px;
  display: block;
  margin: 0 auto 1px auto;
}
.info {
  color: rgb(255, 255, 255);
  text-align: center;
  margin-bottom: 5px;
  margin-top: 5px;
  font-size: 15px;
}
.rholder {
  padding: 8px;
  border-radius: 8px;
  width: 70%;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  border: 3px solid #ffffff;
}
.rdata1 {
  font-size: 18px;
  color: #ffffff;
  margin: 5px;
  text-align: center;
  margin: 4px;
  background: 0 0;
}
.rdata2 {
  font-size: 16px;
  text-align: center;
  color: rgb(218, 218, 218);
  margin: 5px;
  background: 0 0;
}
.status {
  text-align: center;
  color: #ffffff;
}
.blinking2 {
  font-size: 20px;
  animation: blinkingText2 1.2s infinite;
}
@keyframes blinkingText2 {
  0% {
    color: #44ff00;
  }
  49% {
    color: #44ff00;
  }
  60% {
    color: transparent;
  }
  99% {
    color: transparent;
  }
  100% {
    color: #44ff00;
  }
}
.blinking1 {
  font-size: 20px;
  animation: blinkingText1 1.2s infinite;
}
@keyframes blinkingText1 {
  0% {
    color: red;
  }
  49% {
    color: red;
  }
  60% {
    color: transparent;
  }
  99% {
    color: transparent;
  }
  100% {
    color: red;
  }
}
table {
  border-collapse: collapse;
  width: 100%;
}
table td {
  border-bottom: 1px solid #ffffff;
  padding: 9px 0 9px 0;
}
table td {
  color: #ffffff;
}
.groupBTN {
  padding: 0 20px 0 20px;
  width: 100%;
}
#box2 {
  padding: 0 20px 0 20px;
  width: 280px;
}
#insrtBTN {
  background-image: url(assets/BUTTON.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  color: #fff;
  border: 0;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  text-shadow: 0 1px 3px #000;
  margin-bottom: 10px;
  font-weight: bolder;
  font-size: 15px;
  width: 200px;
  height: 70px;
}

#conctBTN {
  background-image: url(assets/BUTTON.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  color: #fff;
  border: 0;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  text-shadow: 0 1px 3px #000;
  margin-bottom: 10px;
  font-weight: bolder;
  font-size: 15px;
  width: 200px;
  height: 70px;
}
#buttonDone {
  background-image: url(assets/BUTTON.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  color: #fff;
  border: 0;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  text-shadow: 0 1px 3px #000;
  margin-bottom: 10px;
  font-weight: bolder;
  font-size: 15px;
  width: 200px;
  height: 70px;
}
#submitBTN {
  float: right;
  width: 29.7%;
  height: 44px;
  border: none;
  color: #fff;
  background-color: rgb(70, 70, 255);
  text-align: center;
  outline: 0;
  border-radius: 0 20px 20px 0px;
  text-shadow: 0 1px 3px #000;
  cursor: pointer;
  font-weight: bolder;
  font-size: 15px;
  box-shadow: 0px 5px #0000ff;
}
#voucherInput {
  float: left;
  border-radius: 2px;
  width: 70%;
  height: 44px;
  border: none;
  color: blue;
  border: 2px solid rgb(70, 70, 255);
  text-align: center;
  outline: 0;
  border-radius: 20px 0px 0px 20px;
  box-shadow: 0px 5px #0000ff;
  margin-bottom: 20px;
}
#pauseBTN {
  background-image: url(assets/BUTTON.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  color: #fff;
  border: 0;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  text-shadow: 0 1px 3px #000;
  margin-bottom: 10px;
  font-weight: bolder;
  font-size: 15px;
  width: 200px;
  height: 70px;
}
#totalTime {
  padding-left: 10px;
  font-size: 25px;
  font-weight: bold;
}
#totalCoin {
  padding-left: 10px;
  font-size: 25px;
  font-weight: bold;
}
@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 1rem 0;
  }
  to {
    background-position: 0 0;
  }
}
@keyframes progress-bar-stripes {
  from {
    background-position: 1rem 0;
  }
  to {
    background-position: 0 0;
  }
}
.progress {
  display: -ms-flexbox;
  display: flex;
  height: 1rem;
  overflow: hidden;
  line-height: 0;
  font-size: 0.75rem;
  background-color: #e9ecef;
  border-radius: 0.25rem;
}
.progress-bar {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: #007bff;
  transition: width 0.6s ease;
}
@media (prefers-reduced-motion: reduce) {
  .progress-bar {
    transition: none;
  }
}
.progress-bar-striped {
  background-image: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.15) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.15) 50%,
    rgba(255, 255, 255, 0.15) 75%,
    transparent 75%,
    transparent
  );
  background-size: 1rem 1rem;
}
.progress-bar-animated {
  -webkit-animation: progress-bar-stripes 1s linear infinite;
  animation: progress-bar-stripes 1s linear infinite;
}
@media (prefers-reduced-motion: reduce) {
  .progress-bar-animated {
    -webkit-animation: none;
    animation: none;
  }
}
.spinner {
  position: fixed;
  z-index: 9999;
  opacity: 83%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: #fff;
  top: 0;
  left: 0;
  width: 100%;
}
.spinner img {
  width: 100px;
  mix-blend-mode: darken;
}
.spinner.hidden {
  animation: fadeOut 1s;
  animation-fill-mode: forwards;
  display: none;
}
.topnav {
  overflow: hidden;
  background-color: #5dade2;
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 15px 15px 15px;
  text-decoration: none;
  font-size: 18px;
}

.footer {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 17px;
  color: #ffffff;
  border-radius: 0 0 8px 8px;
  width: 100%;
  height: 40px;
  display: grid;
  place-items: center;
  vertical-align: baseline;
}
.ratesBTN {
  background-image: url(assets/BUTTON.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  color: #fff;
  border: 0;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  text-shadow: 0 1px 3px #000;
  margin-bottom: 8px;
  font-weight: bolder;
  font-size: 15px;
  width: 200px;
  height: 70px;
}
.homeBTN {
  background-image: url(assets/BUTTON.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  color: #fff;
  border: 0;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  text-shadow: 0 1px 3px #000;
  margin-bottom: 8px;
  font-weight: bolder;
  font-size: 15px;
  width: 200px;
  height: 70px;
}

.banner {
  text-align: center;
  display: block;
  margin-top: 60px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 900;
  /* Set the background color */
  background: linear-gradient(to top, #d8d8d8 0%, #ffffff 100%);
  /* Mask the color to the text, and remove the rest  */
  -webkit-background-clip: text;
  /* Make the text fill color value transparent so the masked background color comes through */
  -webkit-text-fill-color: transparent;
}

.element {
  margin-top: 3px;
  font-size: 20px;
  border: 2px inset white;
  width: 250px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}